body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:663px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u664 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:658px;
}
#u665 {
  position:absolute;
  left:75px;
  top:56px;
  width:336px;
  height:658px;
}
#u666 {
  position:absolute;
  left:2px;
  top:321px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u667 {
  position:absolute;
  left:92px;
  top:108px;
  width:298px;
  height:530px;
}
#u668 {
  position:absolute;
  left:2px;
  top:257px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:48px;
}
#u669 {
  position:absolute;
  left:92px;
  top:108px;
  width:298px;
  height:48px;
}
#u670 {
  position:absolute;
  left:2px;
  top:16px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u671 {
  position:absolute;
  left:104px;
  top:130px;
  width:11px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u672 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u673 {
  position:absolute;
  left:215px;
  top:129px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u674 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:481px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u675 {
  position:absolute;
  left:93px;
  top:156px;
  width:296px;
  height:481px;
}
#u676 {
  position:absolute;
  left:2px;
  top:232px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u678 {
  position:absolute;
  left:147px;
  top:246px;
  width:189px;
  height:194px;
}
#u679 {
  position:absolute;
  left:2px;
  top:89px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:24px;
}
#u681 {
  position:absolute;
  left:147px;
  top:246px;
  width:189px;
  height:24px;
}
#u682 {
  position:absolute;
  left:2px;
  top:4px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:23px;
}
#u683 {
  position:absolute;
  left:147px;
  top:417px;
  width:189px;
  height:23px;
}
#u684 {
  position:absolute;
  left:2px;
  top:4px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u685 {
  position:absolute;
  left:147px;
  top:463px;
  width:183px;
  height:40px;
  text-align:center;
}
#u686 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u688 {
  position:absolute;
  left:219px;
  top:520px;
  width:46px;
  height:46px;
}
#u689 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:34px;
}
#u690 {
  position:absolute;
  left:231px;
  top:526px;
  width:22px;
  height:34px;
}
#u691 {
  position:absolute;
  left:2px;
  top:9px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u692 {
  position:absolute;
  left:227px;
  top:572px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u693 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u694 {
  position:absolute;
  left:469px;
  top:235px;
  width:194px;
  height:103px;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u696 {
  position:absolute;
  left:92px;
  top:122px;
  width:45px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
