body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1124px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:658px;
}
#u1912 {
  position:absolute;
  left:79px;
  top:41px;
  width:336px;
  height:658px;
}
#u1913 {
  position:absolute;
  left:2px;
  top:321px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1914 {
  position:absolute;
  left:96px;
  top:93px;
  width:298px;
  height:530px;
}
#u1915 {
  position:absolute;
  left:2px;
  top:257px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1916 {
  position:absolute;
  left:96px;
  top:93px;
  width:298px;
  height:48px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:16px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u1918 {
  position:absolute;
  left:108px;
  top:115px;
  width:11px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1919 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1920 {
  position:absolute;
  left:225px;
  top:114px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1921 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1922 {
  position:absolute;
  left:114px;
  top:158px;
  width:57px;
  height:20px;
}
#u1923 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:2px;
}
#u1924 {
  position:absolute;
  left:108px;
  top:302px;
  width:274px;
  height:1px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:-8px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u1926 {
  position:absolute;
  left:371px;
  top:160px;
  width:10px;
  height:18px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1928 {
  position:absolute;
  left:114px;
  top:268px;
  width:57px;
  height:20px;
}
#u1929 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:2px;
}
#u1930 {
  position:absolute;
  left:108px;
  top:352px;
  width:274px;
  height:1px;
}
#u1931 {
  position:absolute;
  left:2px;
  top:-8px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u1932 {
  position:absolute;
  left:371px;
  top:270px;
  width:10px;
  height:18px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1934 {
  position:absolute;
  left:114px;
  top:378px;
  width:57px;
  height:20px;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:2px;
}
#u1936 {
  position:absolute;
  left:108px;
  top:412px;
  width:274px;
  height:1px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:-8px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:right;
}
#u1938 {
  position:absolute;
  left:337px;
  top:378px;
  width:40px;
  height:20px;
  color:#CCCCCC;
  text-align:right;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1940 {
  position:absolute;
  left:114px;
  top:428px;
  width:57px;
  height:20px;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1942 {
  position:absolute;
  left:97px;
  top:240px;
  width:296px;
  height:14px;
}
#u1943 {
  position:absolute;
  left:2px;
  top:-1px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:238px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1944 {
  position:absolute;
  left:824px;
  top:442px;
  width:300px;
  height:238px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:111px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1946 {
  position:absolute;
  left:846px;
  top:526px;
  width:260px;
  height:86px;
}
#u1947 {
  position:absolute;
  left:2px;
  top:35px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1948 {
  position:absolute;
  left:861px;
  top:535px;
  width:57px;
  height:20px;
}
#u1949 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1950 {
  position:absolute;
  left:861px;
  top:563px;
  width:109px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#43AAD7;
}
#u1952 {
  position:absolute;
  left:1000px;
  top:582px;
  width:53px;
  height:19px;
  font-size:13px;
  color:#43AAD7;
}
#u1953 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u1954 {
  position:absolute;
  left:1066px;
  top:582px;
  width:27px;
  height:19px;
  font-size:13px;
  color:#CCCCCC;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1956 {
  position:absolute;
  left:114px;
  top:318px;
  width:57px;
  height:20px;
}
#u1957 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u1958 {
  position:absolute;
  left:371px;
  top:321px;
  width:10px;
  height:18px;
}
#u1959 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1960 {
  position:absolute;
  left:97px;
  top:351px;
  width:296px;
  height:14px;
}
#u1961 {
  position:absolute;
  left:2px;
  top:-1px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:158px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1962 {
  position:absolute;
  left:97px;
  top:465px;
  width:296px;
  height:158px;
}
#u1963 {
  position:absolute;
  left:2px;
  top:71px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:109px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1964 {
  position:absolute;
  left:118px;
  top:578px;
  width:259px;
  height:31px;
}
#u1965 {
  position:absolute;
  left:2px;
  top:6px;
  width:255px;
  word-wrap:break-word;
}
#u1966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:2px;
}
#u1966 {
  position:absolute;
  left:108px;
  top:190px;
  width:274px;
  height:1px;
}
#u1967 {
  position:absolute;
  left:2px;
  top:-8px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1968 {
  position:absolute;
  left:114px;
  top:206px;
  width:57px;
  height:20px;
}
#u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:right;
}
#u1970 {
  position:absolute;
  left:335px;
  top:207px;
  width:42px;
  height:20px;
  color:#CCCCCC;
  text-align:right;
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u1972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:658px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1972 {
  position:absolute;
  left:484px;
  top:94px;
  width:300px;
  height:658px;
}
#u1973 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:45px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:41px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1974 {
  position:absolute;
  left:484px;
  top:297px;
  width:209px;
  height:45px;
  color:#FFFFFF;
}
#u1975 {
  position:absolute;
  left:2px;
  top:13px;
  width:205px;
  word-wrap:break-word;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:45px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:41px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1976 {
  position:absolute;
  left:484px;
  top:603px;
  width:209px;
  height:45px;
  color:#FFFFFF;
}
#u1977 {
  position:absolute;
  left:2px;
  top:13px;
  width:205px;
  word-wrap:break-word;
}
#u1978 {
  position:absolute;
  left:617px;
  top:561px;
  width:0px;
  height:0px;
}
#u1978_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:211px;
  height:8px;
}
#u1978_seg1 {
  position:absolute;
  left:192px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1979 {
  position:absolute;
  left:54px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u1980 {
  position:absolute;
  left:371px;
  top:430px;
  width:10px;
  height:18px;
}
#u1981 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982 {
  position:absolute;
  left:108px;
  top:149px;
  width:274px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1983 {
  position:absolute;
  left:108px;
  top:259px;
  width:274px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1984 {
  position:absolute;
  left:108px;
  top:309px;
  width:274px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1985 {
  position:absolute;
  left:108px;
  top:420px;
  width:274px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1986 {
  position:absolute;
  left:97px;
  top:106px;
  width:40px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1987 {
  position:absolute;
  left:108px;
  top:762px;
  width:482px;
  height:257px;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1990 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u1991 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:30px;
}
#u1992 {
  position:absolute;
  left:200px;
  top:0px;
  width:277px;
  height:30px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:6px;
  width:273px;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1994 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1996 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:30px;
}
#u1998 {
  position:absolute;
  left:200px;
  top:30px;
  width:277px;
  height:30px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:7px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2000 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2002 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:30px;
}
#u2004 {
  position:absolute;
  left:200px;
  top:60px;
  width:277px;
  height:30px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:6px;
  width:273px;
  word-wrap:break-word;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2006 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u2007 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2008 {
  position:absolute;
  left:100px;
  top:90px;
  width:100px;
  height:30px;
}
#u2009 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:30px;
}
#u2010 {
  position:absolute;
  left:200px;
  top:90px;
  width:277px;
  height:30px;
}
#u2011 {
  position:absolute;
  left:2px;
  top:7px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2012 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2014 {
  position:absolute;
  left:100px;
  top:120px;
  width:100px;
  height:30px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:30px;
}
#u2016 {
  position:absolute;
  left:200px;
  top:120px;
  width:277px;
  height:30px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:6px;
  width:273px;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2018 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:42px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
}
#u2020 {
  position:absolute;
  left:100px;
  top:150px;
  width:100px;
  height:42px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:42px;
}
#u2022 {
  position:absolute;
  left:200px;
  top:150px;
  width:277px;
  height:42px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2024 {
  position:absolute;
  left:0px;
  top:192px;
  width:100px;
  height:30px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2026 {
  position:absolute;
  left:100px;
  top:192px;
  width:100px;
  height:30px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:30px;
}
#u2028 {
  position:absolute;
  left:200px;
  top:192px;
  width:277px;
  height:30px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:7px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2030 {
  position:absolute;
  left:0px;
  top:222px;
  width:100px;
  height:30px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2032 {
  position:absolute;
  left:100px;
  top:222px;
  width:100px;
  height:30px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:30px;
}
#u2034 {
  position:absolute;
  left:200px;
  top:222px;
  width:277px;
  height:30px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:7px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
